
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 20%;
    --foreground: 0 0% 98%;
    
    --card: 0 0% 25%;
    --card-foreground: 0 0% 98%;
    
    --popover: 0 0% 25%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    
    --secondary: 0 0% 89%;
    --secondary-foreground: 0 0% 9%;
    
    --muted: 0 0% 40%;
    --muted-foreground: 0 0% 70%;
    
    --accent: 0 0% 30%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 0 0% 80%;
    
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
  }

  .slide {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
  }
  
  .slide-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
  }
  
  .slide-container::-webkit-scrollbar {
    display: none;
  }
  
  .slide-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .aio-logo {
    position: relative;
    max-width: 100%;
    height: auto;
  }
}
